/* PC、スマホ共通スタイル */
* {
  box-sizing: border-box;
}

p {
  font-size: 15px;
}

/* 中央揃えする */
body {
  max-width: 1080px;
  /*  margin-left: auto;
　　margin-right: auto;と同じ*/
  margin: 0 auto 0 auto; 
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
}
/* ヘッダー */
header {
   display: flex;
   justify-content: space-between;
 }
  /* ナビゲーションのレイアウト */
 #nav-pc {
   font-size: 14px;
 }

 #nav-pc ul {
  display: flex;
  padding-left: 0;
}

/* <li>要素のスタイルを除去する */
 #nav-pc li {
   list-style: none;
 }
 
 
 /* ナビゲーションのリンクの装飾設定 */

 #nav-pc a {
  /* リンクの下線を非表示するために */
   text-decoration: none;
   margin-left: 20px;
   color: #0d0d0d;
 }
 
 /* a要素の疑似クラス（a:hover）を使い、
 リンクがホバー状態（マウスのカーソルが重なった状態）のときのみ下線を表示する */
 /* #nav-pc > aと同じ？ */
 #nav-pc a:hover {
   text-decoration: underline;
 }

  /* スマホ用ナビを非表示 */
  #nav-sp,
  #menu-sp {
    display: none;
  }

  /* メインビジュアル*/
 #main-visual {
   position: relative;
   height: 400px;
 }

 /* メッセージの背景は画像の上に重ねます */
  #main-message {
    /* position: absolute;は要素を絶対位置で配置するための指定 */
   position: absolute;
   top: 0;
   left: 0;
   background-color: #2710d5;
   color: #ffffff;
   /* border-radiusは要素を角丸にするプロパテ */
/* 「radius」は「半径」 */
   /* border-radius：左上 右上 右下 左下; */
   border-radius: 0 0 476px 0;
   max-width: 620px;
   height: 100%;
   width: 100%;
   /* z-indexは要素の重なり順を指定するプロパティ */
   z-index: 11;
 }

 /* 青いポップアップに見出しや段落を表示する */
  #main-message > h1 {
   font-size: 60px;
   margin: 100px 0 0 50px;
 }
 #main-message > p { 
   font-size: 28px;
   margin: 0 0 0 50px;
  }
  /* 右の写真を調整する */
   #main-visual > img {
   max-width: 620px;
   /* border-radiusプロパティで左上の角を丸める */
   border-radius: 476px 0 0 0;
   position: absolute;
   top: 0;
   right: 0;
   /* メッセージの背景が上に重なる（画像が下になる）ように、z-index: 10;を指定する */
   z-index: 10;
 }
  /* 見出し */
 h2 {
   margin: 40px 0 0 0;
 }
 
 h2::after {
  /* ontent: url("画像の相対パス");を指定して、h2要素の直後に画像を追加 */
   content: url("images/line.png");
   margin-left: 10px;
 }
 
 h3 {
   font-size: 27px;
 }
  /* ミッション */
 #mission {
  /* 余白（margin）：上下に80px、左右にautoを指定する
  （左右にautoを指定することで要素が中央寄せになる */
   margin: 80px auto 80px auto;
 }
 
 #mission-flex {
  /* 外枠のdiv（コンテナ）にdisplay: flex;を指定するだけで、
  2つのdiv（アイテム）は横並びになります。 */
   display: flex;
 }
  #mission-flex > div {
   width: 50%;
   margin: 20px;
 }
 
 #mission-photo {
  /* 幅（width）：100%を指定して、
  親要素の幅いっぱいに広げる */
   width: 100%;
 }
 
 #s2dgs {
  /* 余白（margin）：上に50px */
   margin-top: 50px;
   width: 100%;
 }

 /* セクション全体の背景色が
 薄いグレーになり、コンテンツも左右に */
 /* プロダクト */
 #product {
   background-color: #fafafa;
   margin: 80px 0 80px 0;
   padding: 10px 40px 0px 40px;
 }
 
 /* 外枠 */
 #product .product-flex {
   margin-top: 40px;
   display: flex;
 }
 
 /* 左のカラム */
 #product-left {
   width: 50%;
   margin-right: 20px;
 }
 
 /* 右のカラム */
 #product-right {
   width: 50%;
   margin-left: 20px;
   margin-top: 80px;
 }
 
 /* 画像＋説明の枠 */
 #product-left > div {
   position: relative;
   height: 480px;
   margin-right: 20px;
 }
 #product-right > div {
   position: relative;
   height: 480px;
   margin-left: 20px;
 }

 /* 。レイアウトがまだ崩れていますが、
 このあと調整していきます。 */
  /* 画像 */
  /* 画像は親のdiv要素からはみ出さないように幅を調整します。 */

 .product-photo {
  /* 100%を指定して、親要素の幅に合わせる */
   width: 100%;
 }
 /* 説明文の枠 */
 .product-explain {
   background-color: #ffffff;
   /* 画像とテキストを重ねるには、
   絶対位置（position:absolute）で指定する */
   position: absolute;
   left: 0;
   bottom: 50px;
   margin: 0 40px 0 40px;
   padding: 20px;
   /* 要素に影をつけるにはbox-shadowプロパティを使う */
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
 }
 
 /* 説明文の英語 */
 .product-explain > span {
   color: #2710d5;
   font-weight: bold;
   font-size: 16px;
   margin: 0;
 }
 
 /* 説明文の見出し */
 .product-explain > h3 {
   margin: 5px 0 5px 0;
 }
 
 /* 説明文 */
 .product-explain > p {
   font-size: 14px;
   margin: 0;
 }
 
 /* もっと見るボタン */
 #product-more {
  /* 中央寄せにする（text-align: center） */
   text-align: center;
 }
 
 #product-more a {
   position: relative;
   /* リンク（<a>タグ）に対して、
   相対位置指定で下に-42pxを指定する */
   bottom: -42px;
 }
  /* ABOUT US */

  /* 余白設定 */
 #aboutus {
   margin: 80px auto 80px auto;
 }
 
 /* 3つの組織文化と画像を入れる枠 */
 /* 表と1枚目の画像をグループ化するdiv要素 */
 #aboutus > div {
   display: flex;
 }

 /* 1枚目の画像 */
 .culture-img {
   width: 50%;
   /*  align-self: flex-start;を指定すると上寄せ*/
   align-self: flex-start;
 }
 
 /* 2枚目の画像 */ 
 .culture-img2 {
   margin-top: 50px;
   width: 100%;
 }

 /* 表全体のレイアウトを調整 */
/* 3つの組織文化の表 */
/* 余白（margin）：右に50pxを指定して、画像との間に余白を作る
では、以下のように記述しましょう。 */
 .culture-table {
   margin-right: 50px;
 }

 /* 番号 */
 .culture-num {
   font-size: 80px;
   color: #2710d5;
   padding: 0 20px 0 0;
 }

 /* 見出し */
 .culture-table th {
  /* 左寄せ */
   text-align: left;
   font-size: 28px;
   font-weight: bold;
 }

 /* 組織文化英語 */
 .culture-en {
   color: #2710d5;
   font-size: 24px;
 }

 /* 説明文 */
 .culture-description {
   /*余白無し  */
  margin: 0;
 }

 /* 余白設定 */
  #vision {
   margin: 80px auto 80px auto;
 }
 
 /* セクション内の外枠*/
 #vision > div {
   display: flex;
   /* 横方向の揃え方 */
   /* 一番左と一番右の子要素を両端に配置し、
   残りの子要素を均等な間隔で配置する */
   justify-content: space-between;
   /* 折り返し（flex-wrap）：wrapを指定 */
   flex-wrap: wrap;
 }
 
 /*7つの行動指針の枠*/
 .vision-box {
   width: 300px;
   height: 300px;
   /* 余白（margin）：下に */
   margin-bottom: 30px;
   position: relative;
 }

 /* 「行動指針」の画像やテキストを調整します。 */
  .vision-box > img {
   width: 100%;
   position: relative;
   z-index: 30;
 }
 
 /*  見出しと説明文をグループ化するspan要素*/
 .vision-box > div {
   position: absolute;
   top: 0;
   left: 0;
   /* 重なり順（z-index）：31を指定し、
   画像の上に重なるようにする */
   z-index: 31;
   margin-right: 20px;
 }
 
 /* 英語の見出し */
 .vision-box > div > h4 {
   color: #2710d5;
   font-size: 19px;
   margin: 80px 0 0 0;
 }
 
 /* h4の１文字め */
 .vision-box > div > h4::first-letter {
   font-size: 40px;
 }
 
 /* 日本語の見出し */
 .vision-box > div > h5 {
   font-size: 20px;
   margin: 0 0 0 0;
 }
 
 /* 説明文に余白設定 */
 .vision-box > div > p {
   margin: 10px 0 0 0;
 }
 
 /*7つの行動指針の枠*/
 .vision-box {
   width: 300px;
   height: 300px;
   margin-bottom: 30px;
   position: relative;
 }
 .vision-box > img {
   width: 100%;
   position: relative;
   z-index: 30;
 }
 
 .vision-box > div {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 31;
   margin-right: 20px;
 }
 
 .vision-box > div > h4 {
   color: #2710d5;
   font-size: 19px;
   margin: 80px 0 0 0;
 }
 
 .vision-box > div > h4::first-letter {
   font-size: 40px;
 }
 
 .vision-box > div > h5 {
   font-size: 20px;
   margin: 0 0 0 0;
 }
 
 .vision-box > div > p {
   margin: 10px 0 0 0;
 }

 /* 会社概要 */
  #company {
   margin: 80px auto 80px auto;
 }
 /* 表全体 */
  #company-table {
   width: 100%;
 }
 /* 2行目以降の見出し */
 .tableheader {
   text-align: left;
   padding: 20px;
   border-bottom-color: #2710d5;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   width: 100px;
 }
 
 /* 1行目の見出し */
 .tableheader-first {
   border-top-color: #2710d5;
   border-top-width: 1px;
   border-top-style: solid;
 }
 
 /* セル */
 .cell {
  /* 余白 */
   padding: 30px;
   border-bottom-color: #ececec;
   border-bottom-width: 1px;
   border-bottom-style: solid;
 }
 
 /* 1行目のセル */
 .cell-first {
   border-top-color: #ececec;
   border-top-width: 1px;
   border-top-style: solid;
 }

 


 /* 地図 */
  #company > iframe {
   width: 100%;
   height: 368px;
   margin-top: 40px;
 }

 /* お問い合わせ */
 #contact {
   margin: 80px auto 80px auto;
 }
 
 /* 外枠 */
 #contact > form > div {
   display: flex;
   /* 並び順　子要素を左から右に配置する */
   flex-direction: row;
   /* 折り返し：幅が足りなくなったら上から下に折り返しする */
   /* ブラウザの横幅が狭い場合の要素内の折り返す
   にはflex-wrap: wrapを設定する */
   flex-wrap: wrap;
   /* 余白 */
   padding-bottom: 30px;
 }

  /* 左列の見出し */
 .contact-heading {
   width: 240px;
   align-self: center;
 }
 /* 見出しのラベル */
 .contact-label {
   font-weight: bold;
 }
 /* 必須 */
 .contact-span {
   color: #ce2222;
   margin: 0 0 0 20px;
   /* 文字の太さ */
   font-weight: bold;
 }

 /* テキストボックス */
 .contact-textbox {
  /* 上の枠線 */
   border-top: 0px;
   /* 左の枠線 */
   border-left: 0px;
   /* 右の枠線 */
   border-right: 0px;
   /* 下の枠線 */
   border-bottom-width: 1px;
   border-bottom-color: #707070;
   border-style: solid;
   background-color: #fafafa;
   width: 400px;
   height: 56px;
 }
 
 /* お問い合わせ内容のテキストエリア */
 .contact-textarea {
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   border-bottom-width: 1px;
   border-bottom-color: #707070;
   background-color: #fafafa;
   width: 400px;
   height: 200px;
 }
 /* 「お問い合わせフォームの個人情報の取り扱いについて」 */
  /* 個人情報の取り扱い */
  /* 詳細の各項目の見出し */
 #contact dt {
  /* 文字の太さ */
   font-weight: bold;
 }
 /* 各項目の説明 */
 #contact dd {
  /* 下に16pxの余白、上と左右は余白無し */
   margin: 0 0 16px 0;
 }
 
 /* 説明内の段落 */
 #contact dd p {
  /* 余白無し */
   margin: 0;
 }
 /* 説明内のリスト */
 #contact dd ul {
  /* 左の内側余白無し */
   padding-left: 0;
 }
 
 /* リストの項目 */
 #contact dd li {
  /* 下に余白無し */
   margin-bottom: 0;
   list-style: none;
 }

  /* フッター */
 footer {
  /* 今まで背景と同化して見えなかったロゴやSNSボタンの画像が見えるようになります。 */
   background-color: #0d0d0d;
   text-align: center;
   /* 余白 */
   padding: 80px 80px 30px 80px;
 }
 
 #footer-logo {
  /* 余白　下に */
   margin-bottom: 30px;
 }

 /* ハイパーリンクをグループ化するdiv要素 */
  #footer-link {
   margin-bottom: 50px;
 }
 
 /* ハイパーリンク */
 #footer-link > a {
  /* 文字装飾 */
  /* 下線を非表示する */
   text-decoration: none;
   margin: 10px;
   color: #ffffff;
 }
 
 /* ハイパーリンクの疑似ランク */
 /* マウスカーソルがリンクに重なったとき */
 #footer-link > a:hover {
  /* 文字装飾 　下線を表示する*/
   text-decoration: underline;
 }

 /* SNSボタンをグループ化するdiv要素 */
  #sns-footer {
   display: flex;
   /* コンテナ左右に均等に配置 */
   justify-content: space-between;
   text-align: left;
 }
 
 #sns-footer a {
   margin-right: 30px;
 }
 
 #copyright {
   color: #ffffff;
   margin: 0;
 }

 /* mission.html用スタイル */
 /* ミッションのメインビジュアル */
 .mission-main-inner {
  /* 背景画像 */
   background-image: url("images/mission/mission-main.png");
   /* 背景画像の繰り返し：なし */
   background-repeat: no-repeat;
   /* 背景画像の垂直方向の位置：中央 */
   /* 背景画像のｙ軸の位置を指定するプロパティ */
   /* center を指定することで、背景画像を縦方向の中央に配置できる。 */
   /* x軸（横方向）の位置を指定するには、1文字違いのbackground-position-xというプロパティ */
   background-position-y: center;
 }
 
 #mission-title {
   background-color: #2710d5;
   width: 368px;
   color: #ffffff;
   height: 496px;
   /* 角丸：右上と右下の角を丸める */
   border-radius: 0 248px 248px 0;
   /* 配置 */
   position: relative;
 }
 
 #mission-title h1 {
  /* 絶対位置 */
   position: absolute;
   top: 0;
   left: 100px;
   font-size: 80px;
   /* 行の高さ */
   line-height: 1;
 }
 
 #mission-title h1 span {
   font-size: 26px;
 }
 
 /* パンくずリスト */
 #mission-title > p {
   position: absolute;
   top: 350px;
   left: 100px;
   font-size: 16px;
 }

 
  /* ミッションページ　S2DGSの設定 */
 #mission-s2dgs {
   padding: 20px;
 }
 
 .mission-h2 {
   color: #2710d5;
   font-size: 40px;
 }
 
 .mission-h2::after {
  /*追加した青線を削除する */
   content: none;
 }

 /* ミッションページ　5つのゴールの設定 */
 #mission-five-goals {
   padding: 20px;
   display: flex;
 }
 
 #mission-five-goals .five-goals-image {
   width: 30%;
   padding: 20px;
 }
 
 #mission-five-goals .five-goals-image img {
   width: 100%;
 }
 
 #mission-five-goals .five-goals-read {
   width: 70%;
   padding: 20px;
 }
 
 #mission-five-goals .five-goals-read > div {
   margin-bottom: 40px;
 }
 
 .fivegoals-image-right {
  /* 右寄せ */
   float: right;
   margin: 20px;
 }
 
 .fivegoals-image-left {
  /* 左寄せ */
   float: left;
   margin: 20px;
 }
 
 .fivegoals-number {
   color: #2710d5;
   font-size: 48px;
   font-weight: bold;
   margin: 0;
 }
 
 .fivegoals-h3 {
   font-size: 28px;
   margin: 0;
 }
 
 .fivegoals-p {
   margin: 0;
 }
 
/* プロダクトページ */
 .product-main-inner {
   background-image: url("images/product/product-main.png");
   /* 繰り返さない */
   background-repeat: no-repeat;
   background-position-y: center;
 }
 
 #product-title {
   background-color: #2710d5;
   width: 368px;
   color: #ffffff;
   height: 496px;
   border-radius: 0 248px 248px 0;
   position: relative;
 }
 
 #product-title h1 {
  /* 親要素の左上を基準に配置する */
   position: absolute;
   top: 0;
   left: 100px;
   font-size: 80px;
   line-height: 1;
 }
 
 #product-title h1 span {
   font-size: 26px;
 }
 
 /* パンくずリスト */
 #product-title > p {
  /* 親要素の左上を基準に配置する */
   position: absolute;
   top: 350px;
   left: 100px;
   font-size: 16px;
 }

/* セクション */
 .product-section {
   display: flex;
   padding: 20px 20px 0;
 }
 
 .product-section .product-section-img {
   width: 450px;
 }
 
 /* 左が画像のセクション*/
 .product-section-left .product-section-img img {
   width: 100%;
   padding: 0 40px 30px 0;
   border-radius: 0 432px 0 0;
 }
 
 .product-section-left .product-read {
   width: 50%;
   /* フレックスアイテムの比率 */
   flex-grow: 1;
 }
 
 .product-section-left .product-read p {
   margin-bottom: 0;
 }
 
 /* 右が画像のセクション*/
 .product-section-right {
  /*  フレックスコンテナの主軸の幅に対して
  余白をもって等間隔に配置*/
   justify-content: space-between;
 }
 
 .product-section-right .product-section-img img {
   width: 100%;
   padding: 0 0 30px 40px;
   border-radius: 432px 0 0 0;
 }
 
 .product-section-right .product-read {
   width: 500px;
 }
 
 .product-h2 {
   color: #2710d5;
   font-size: 24px;
   margin: 0;
 }
 
 .product-h3 {
   font-size: 28px;
   margin: 0;
 }

  /*====================
  スマートフォン用のスタイル
 =====================*/

 /* メディアクエリを使い、画面幅に応じて適用するスタイルを切り替えます。 */
 /* スマートフォン：画面幅が767px以下のときにスタイルを適用する */
 /* 768pxという数値はiPadの画面幅 */

   /* PC用ナビゲーション非表示 */
   /* 「nav-spというidを持つ要素（今回の場合は
   スマートフォン用ナビゲーション）に対し、クリック（タップ）時に
   display: none;というスタイルを適用する」という意味 */
 @media screen and (max-width: 767px) {
    
  /* ここにMISSIONページのスマートフォン用のCSSを記述する */

   /* PC用ナビゲーション非表示 */
   #nav-pc {
     display: none;
   }
 
   /* ハンバーガーメニュー */
   #menu-sp {
     display: block;
     background-color: transparent;
     /* 要素の並びを指定し、ヘッダーの中で右寄せにする */
     float: right;
     padding: 0;
     /* 要素の境界線なし */
     border: none;
   }
 
   /* スマホ用ナビゲーションの表示切替*/
   /* 初期状態、レイアウトと非表示設定 */
   #nav-sp {
     background-color: #2710d5;
     /* 配置（position）：固定（fixed）を指定し、
     leftとtopに0を指定することで親要素の左上に配置する */
     position: fixed;
     left: 0;
     top: 0;
     height: 100%;
     width: 100%;
     /* 表示方法：非表示 */
     display: none;
     /* 100を指定し、どの要素よりも上に重ねる */
     z-index: 100;
   }
  
    /* ×ボタン */
    /* 閉じるボタンの画像 */
   #close {
    /* 配置（position）：絶対位置（absolute）を指定し、
    親要素（#nav_sp）の右上の角を基準位置として、
    上側（top）と右側（right）にそれぞれ20pxに設定する。（右上の角から内側へ20pxの位置に配置する）。 */
     position: absolute;
     top: 20px;
     right: 20px;
     background-color: transparent;
     /* border境界線 はなし(none)*/
     border: none;
   }
 
   #nav-sp nav ul {
    /* 左側の余白（ padding ）をなくす（ 0 ） */
     padding-left: 0;
   }
 
   #nav-sp nav li {
    /* マーカー（ list-style ）なし（ none ）で表示 */
     list-style: none;
   }
 
   /* ナビゲーションメニュー用ロゴ */
   #logo-sp {
     margin: 80px 0 30px 20px;
   }
  
   /* ナビゲーションのリンクの装飾設定 */
 /* リンク */
    #nav-sp nav a {
    display: block;
    color: #ffffff;
  }

 /* リンクの疑似クラスホバー時 */
  #nav-sp nav a:hover {
     text-decoration: underline;
   }

 /* リンクの背景 */
   #nav-sp .menu {
     text-decoration: none;
     margin: 0 20px 0 20px;
     height: 44px;
     font-size: 16px;
     /* 要素の背景として画像を表示する */
     background-image: url("images/arrow.png");
     /* 背景のリピート（繰り返し）方法 */
     background-repeat: no-repeat;
     /* 背景の位置 */
     background-position: right top;
   }
   
   /* SNSボタンのリンク */
   /* SNSボタンをグループ化するdiv要素 */
     #sns {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  /* SNSボタンのリンク */
  #sns > a {
    margin-right: 30px;
  }

 /* メインビジュアル */
   #main-visual {
     position: relative;
     height: 470px;
   }
 
   #main-visual > div {
     text-align: center;
     height: 280px;
   }
 
   #main-visual h1 {
     font-size: 28px;
     margin: 90px 0 0 0;
   }
 
   #main-visual > div > p {
     margin: 0;
     font-size: 15px;
   }
 
   #main-visual > img {
     width: 100%;
     /* 角丸：左上の角を丸くする */
     border-radius: 476px 0 0 0;
     top:auto;
     
     bottom: 0;

     /* ただ、これだと、顔を少し隠れてしまうことになる。 */
     /* top: 210px; */
     /* と設定したら顔をみえる事になる */
   }

 /*見出し*/
   h2 {
     margin: 15px 0 15px 0;
   }
   
   h3 {
     font-size: 24px;
     margin: 10px 0 0 0;
   }

  /* ミッション */
   #mission {
     margin: 20px 0 20px 0;
     padding: 0 20px 0 20px;
   }
 
   #mission-flex {
    /* フレックスコンテナの配置方向(flex-direction)：縦方向（column） */
     flex-direction: column;
   }
 
   #mission-flex > div {
   width: 100%;
   margin: 0;
 }

 /* プロダクト */
    #product {
      margin: 0;
      padding: 10px 20px 0 20px;
    }
  
    /* 外枠 */
    #product .product-flex {
      /* フレックスコンテナの配置：縦並び(column) */
      flex-direction: column;
      margin-top: 0;
    }
  
    /* 左右のカラム　スマホでは縦並び */
    #product-left,
    #product-right {
      width: 100%;
      margin: 0;
    }

     /*  画像＋説明の枠 */
   #product-left > div,
   #product-right > div {
     height: auto;
     margin: 0;
   }
 
   /* 説明文の枠 */
   .product-explain {
     position: relative;
     margin: 0;
   }
 
   .product-explain > h3 {
     margin: 10px 0 10px 0;
     font-size: 24px;
   }
 
  /* もっと見るボタン */
    #product-more {
      text-align: left;
    }

      /* ABOUT US */
   #aboutus {
     margin: 80px 20px 80px 20px;
   }
 
   /* アイテム（子要素）の並び順（flex-direction）
   ：columnを指定し、画像と表を上から下に配置する */
   #aboutus > div {
     flex-direction: column;
  }
 
   .culture-table th {
     font-size: 16px;
   }
 
   /* 表全体の設定 */
   .culture-table {
     margin-right: 0;
     padding-right: 20px;
     /* orderプロパティ：並び順をより具体的な数字で指定する */
     /* 並び順（order）：2を指定し、画像の後に配置する */
     order: 2;
   }
 
   /* １枚目の画像 */
   .culture-img {
     width: 100%;
     /* 並び順（order）：1を指定し、表の前に配置する */
     order: 1;
   }
 
   /* ２枚目の画像 */
   .culture-img2 {
     margin-top: 0;
   }
 
   /* 番号 */
   .culture-num {
     padding: 0;
   }
 
   /* 説明文 */
   .culture-description {
     margin: 0;
   }

 /* ビジョン */
   #vision {
     margin: 80px 20px 80px 20px;
   }
 
   .vision-box > img {
     position: absolute;
     top: 0;
     left: 0;
   }
 
   .vision-box > div > h4 {
     margin: 60px 0 0 0;
   }

   /*会社概要*/
  #company {
    margin: 0 20px 0 20px;
  }

  #company > h3 {
    margin-bottom: 20px;
  }

  .tableheader {
    width: 50px;
  }

  .cell {
    padding: 20px;
  }

  #company > iframe {
    height: 240px;
  }


/* お問い合わせ */
   #contact {
     margin: 80px 20px 80px 20px;
   }
 
   #contact > h3 {
     margin-bottom: 20px;
   }
 
   #contact > form > div {
    /*flex-directionフレックスコンテナの配置：縦並び（column）*/
     flex-direction: column;
     /* 下に20px */
     margin-bottom: 20px;
   }
 
   .contact-heading {
    /* flexアイテムの配置を個別に指定（align-self）：
    親要素のalign-items の値に従う（auto） */
     align-self: auto;
     margin-bottom: 20px;
   }

  .contact-textbox {
     min-width: 300px;
     width: 100%;
   }
 
   .contact-textarea {
     height: 150px;
     width: 100%;
   }
 
   .radiobutton {
     margin-bottom: 20px;
   }
/* フッター */
footer{
  padding:30px 20px 50px 20px;
  text-align:left;
}

#footer-link >a{
  margin:0 20px 30px 0;
  /* 要素を縦並びする */
  display:block;
  /* 背景画像（background-image）：
  url("images/arrow.png")を指定し、
  arrow.pngをリンクの背景として表示する */
  background-image:url("images/arrow.png");
  /* 背景のリピート方法（background-repeat）：
  繰り返さない（no-repeat） */
  background-repeat: no-repeat;
  /* 背景の位置（background-position）：
  right topを指定し、右上に配置する */
  background-position:right top;
}

#footer-link >a:hover{
  /* 下線 */
  text-decoration: underline;
}

#sns-footer{
  /* フレックスボックスの
  子要素の並び（flex-direction）：縦（column） */
  flex-direction:column;
  /* 子要素の配置（justify-content）：
  上端に揃える（flex-start） */
  justify-content: flex-start;
}

#copyright{
  font-size:12px;
  margin-top:30px;
}

/* mission.html用スタイル */
   /* ミッションのメインビジュアル */
   #mission-main {
     height: 256px;
     margin-top: 4%;
     position: relative;
   }
 
   .mission-main-inner {
     height: 80%;
     background-size: cover;
   }
 
   /* 見出しやパンくずリストをグループ化するdiv要素 */
   #mission-title {
     width: 136px;
     height: 256px;
     position: absolute;
     top: -10%;
   }
 
   /* 英語の見出し */
   #mission-title h1 {
    /* leftに20pxを指定することで親要素の左上を基準に配置する */
     left: 20px;
     font-size: 40px;
   }
 
   /* カタカナの見出し */
   #mission-title h1 span {
     font-size: 18px;
   }
 
   /* パンくずリスト */
   #mission-title > p {
    /* 親要素の左上を基準に配置する */
     top: 180px;
     left: 20px;
     font-size: 13px;
   }

    /* ミッションページ　S2DGSの設定 */
    .mission-h2 {
      font-size: 38px;
      margin: 0px;
    }
  
    .mission-h2::after {
      /* 追加した青線を削除する */
      content: none;
    }
  
    #mission-s2dgs > img {
      /* 親要素の幅いっぱいに広げる */
      width: 100%;
    }

  /* ミッションページ　5つのゴールの設定 */
  /* 縦並びにする */
   #mission-five-goals {
    /* フレックスコンテナ内のアイテムの配置方向（flex-direction）：縦方向 */
     flex-direction: column;
   }
 
   #mission-five-goals > div {
     padding: 0;
   }
 
   #mission-five-goals .five-goals-image,
   #mission-five-goals .five-goals-read {
     width: 100%;
     padding: 0;
   }
 
   #mission-five-goals .five-goals-read > div {
     display: flex;
     /* フレックスコンテナ内のアイテムの配置方向：縦方向 */
     flex-direction: column;
   }
 
   .fivegoals-image-right,
   .fivegoals-image-left {
    /* フレックスアイテムの配置：中央 */
     align-self: center;
   }

 /* プロダクトページ */
   #product-main {
     height: 256px;
     margin-top: 4%;
     position: relative;
   }
 
   .product-main-inner {
     height: 80%;
     /* 背景サイズ：要素全体を覆うよう自動的に広がる（cover） */
     background-size: cover;
   }
 
  
   #product-title {
     width: 136px;
     height: 256px;
     position: absolute;
     top: -10%;
   }
   
   /* 英語の見出し */
   #product-title h1 {
     left: 20px;
     font-size: 40px;
   }
 
   /* カタカナの見出し */
   #product-title h1 span {
     font-size: 18px;
   }
 
   /* パンくずリスト */
   #product-title > p {
     top: 180px;
     left: 20px;
     font-size: 13px;
   }

/* セクション */
   .product-section {
    /* フレックスアイテムの配置方向（flex-direction）：縦(column) */
     flex-direction: column;
   }
 
   .product-section .product-section-img {
     width: 100%;
   }
   
   .product-section .product-section-img img {
     width: 100%;
     padding: 0;
   }
 
   /* 左が画像のセクション*/
   .product-section-left .product-section-img img {
     /*角丸  */
    border-radius: 0 300px 0 0;
   }
 
   .product-section-left .product-read {
     width: 100%;
     /* フレックスアイテムの幅の伸び率：１ */
     flex-grow: 1;
   }
 
   /* 右が画像のセクション*/
   .product-section-right .product-section-img img {
     /*order:順序  */
    order: 1;
    /* 角丸 */
     border-radius: 300px 0 0 0;
   }
 
   .product-section-right .product-read {
     /*order:順序  */
     /* .product-section-rightの画像とテキストは
     順番が逆になってしまうため、Flexboxのorderプロパティで表示順を入れ替えます。 */
    order: 2;
     width: 100%;
   }


}